authtoken: {{ .Env.NGROK_AUTH }}
region: {{ or .Env.NGROK_REGION "eu" }}
console_ui: false
inspect_db_size: 50000000
web_addr: 0.0.0.0:4040
tunnels:
{{ $hostname := .Env.NGROK_HOSTNAME }}
{{ range $index, $value := $ }}
{{ $enabled := contains $value.Labels "io.szg.ngrok" }}
{{ if $enabled }}
  {{ $value.Name }}:
    proto: http
    {{ $addr := index $value.Addresses 0 }}
    {{ $ip := or $addr.IP (index $value.Networks 0).IP }}
    {{ $port := or $addr.Port 80 }}
    addr: {{ $ip }}:{{ $port }}
    {{ $auth := index $value.Labels "io.szg.ngrok.auth" }}
    {{ if $auth }}
    auth: {{ $auth }}
    {{ end }}

    {{ $project := index $value.Labels "com.docker.compose.project" }}
    {{ $service := or (index $value.Labels "io.szg.ngrok.host") (index $value.Labels "com.docker.compose.service") }}
    {{ $subdomain := or (index $value.Labels "io.szg.ngrok.subdomain") (printf "%v-%v" $service $project) }}
    {{ if $hostname }}
    hostname: {{ $subdomain }}.{{ $hostname }}
    {{ else }}
    subdomain: {{ $subdomain }}
    {{ end }}

  {{ end }}
{{ end }}
